page-profil {
    .card-background-page {
        ion-card {
          position: relative;
          text-align: center;
        }
    }

    .card-title {
        // position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #000;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        // position: absolute;
        top: 52%;
        width: 100%;
        color: #000;
        margin-bottom: 1.0em;
      }

      .avatar{
        display:block;
          border-radius: 50%;
          margin: auto;
          width: 40%;
          height: 28%;
      }

      .background{
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50% 50%;
        vertical-align: middle;
        width: 100%;
        display: inline-block;
        background-image: url("../../assets/imgs/background profil.png");
      }

}